.wrap{
	@include span(12 nest);
	min-height:100vh;
	background-image: url('https://t-ec.bstatic.com/images/hotel/max1024x768/833/83351925.jpg');
	background-size: auto 100% ;
	background-position:bottom;
	font-size:13px;
	color:white;
	h1{
		margin-top: 150px;
		text-align: right;
		margin-right: 30px;

	}
	p{
		background-color: rgba(41, 67, 152, 0.51);
		margin-top: -140px;
		text-align: justify;
		padding-right: 20px;
		padding-left: 20px;
	}
	
	@include susy-breakpoint($tablet-size){
		background-size: auto 100%;
		background-position: bottom;
		background-image: url('https://c8234d680a5ae618106c-6b3bd0826ac1075e2d1b52b94a2e0f63.ssl.cf1.rackcdn.com/3449_52b5a678.jpg');
		font-size:20px;
		h1{
			margin-top: 860px;
			text-align: right;
			margin-left: 20px;

		}
		p{
			background-color: rgba(41, 67, 152, 0.51);
			margin-top: 20px;
			text-align: right;
		}
	}
	@include susy-breakpoint($desktop-size){
		background-size: 100% auto ;
		background-position: bottom;
		background-image: url('https://images.dagelan.co/old/2017/03/Bali.jpg');
		h1{
			margin-top: 140px;
			text-align: center;
			margin-right: 5%;
			margin-left: 5%;
			background-color: rgba(41, 67, 152, 0.51);
		}
		p{
			background-color: rgba(41, 67, 152, 0.51);
			text-align: center;
		}
	}
}

