.kotak{
	@include span(12);
	background: grey;
	.form-validasi{
		@include span(6);
		background: white;
		.masukan{
			float: right;
		}
		.pilihan{
			float: right;
			margin:1px;
		}
		.error{
			color:red;
			text-align:right;
			margin-top: 10px;
			font-size: 12px;
		}
	}
}

.kotak2{
	@include span(12);
	background: #85f2f2;
	.input-kiri{
		@include span(6);
		
		background: linear-gradient(45deg, black, #44bfbf 25%, #005151 25%, #1ceaea 50%, #45a5a5 50%, #8bf9f9 75%, #44bfbf 75%, white);
		padding: 10px;
		height: 300px;
		border-left: 10px solid #025e5e;
		position: relative;
		 
		.tombol{
			background: white;
			height: 30px;
			border-radius: 10px;

		}
		.tapel{
			background: #ff0000;
		}
		.tjeruk{
			background: #faff00;
		}
		.tmangga{
			background: #ffcc00;
		}
		.bawah{
			position:absolute;
			bottom:10px;
			right:10px;
		}
		.bawah2{
			position:absolute;
			bottom:10px;
			right:100px;
		}
	}
	.layout-kanan{
		@include span(6);
		background: linear-gradient(-45deg, black, #44bfbf 25%, #005151 25%, #1ceaea 50%, #45a5a5 50%, #8bf9f9 75%, #44bfbf 75%, white);
		height: 300px;
		overflow: scroll;
		.apel{
			background: url(https://img.clipartfest.com/68ae1a5f8a25dd1bbee3dd5d666381a0_apple-pic-apple-clipart-png_1271-1449.png) center no-repeat;
			background-size: 50px;
			height: 20%;
			width:12%;
			display: inline-block;
		}
		.jeruk{
			background: url(http://www.nutrisari.co.id/wp-content/themes/nutrisari/images/si-jeruk-thumb.png) center no-repeat;
			background-size: 50px;
			height: 20%;
			width:12%;
			display: inline-block;
		}
		.mangga{
			background: url(http://pngimg.com/uploads/mango/mango_PNG9184.png) center no-repeat; 
			background-size: 50px;
			height: 20%;
			width:12%;
			display: inline-block;
		}
	}
	.output-bawah{
		@include span(12);
		background: #00b2b2;
		height: 200px;
		border-left: 10px solid #025e5e;

		.jdl{
			background:linear-gradient(20deg, black, #005151) ;
			font-size: 20px;
			text-align:center; 
			color:#1ceaea;
		}
		.hasil{
			padding:0;
			background: #85f2f2;
			height: 160px;
			text-align:center;
			font-size: 140px; 
		}
		.o-apel{
			@include span(3);
		}
		.o-jeruk{
			@include span(3);
		}
		.o-mangga{
			@include span(3);
		}
		.o-total{
			@include span(3);
		}
	}
}