.fluid-container{
	@include container;
	background: #474747;
	height:50px;
}

.container{
	@include container(1140px);

}
.header{
	position: fixed;
	@include span(12);
	background: black;
	height:40px;
	.naviga{
		@include container(1000px);
		.logo{
			@include span(6);
			img{
				height: 40px;
			}
		}
		.nav{
			@include span(6);
			padding:10px;
			color:white;
			a{
				text-decoration: none;
				color:white;
				display:inline-block;
				&:hover{
					background: white;
					color:black;
				}
			}
		}
	}
}
.content{
	@include container(1000px);
	padding-top:40px;
	background: #e8e8e8;
	height:100vh;
	.row{
		@include span(12 nest);
		background: #aaa9a9;

		.col-2{
			@include span(2);
			border:1px solid black;
		}
		.col-3{
			@include span(3);
			border:1px solid black;
		}
		.col-6{
			@include span(6);
			border:1px solid black;
		}
		.col-9{
			@include span(9);
			border:1px solid black;
		}
		.col-10{
			@include span(10);
			border:1px solid black;
		}
	}
	.row2{
		@include span(12 nest);
		background: #aaa9a9;
		height: 90px;

		.col-3{
			@include span(3);
			img{
				height: 80px;
			}
		}
		.col-9{
			@include span(9);
			height: 86px;
			.nama{
				background: white;
			}
			.ttl{
				background:#e5e5e5 ;
			}
			.alamat{
				background: #cecece;
			}
		}
	}
	.showreel-li{
		background: white;
		@include span(12);
		padding: 0;
		ul{
			padding: 0;
		}
		li{
			@include span(4);
			list-style-type: none;
			height: 300px;
			border: 1px solid black;
			text-align: center;
			a{
				text-decoration: none;
				line-height: 280px;
				color:black;

			}
			&:hover{
				background: black;
				a{
					color:white;
				}
			}
		}
	}

}

.footer{
	@include container(1000px);
}