
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(http://fonts.gstatic.com/s/raleway/v11/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
.wrap-is{
	@include span(12);
	min-height: 1000px;
	background: url("http://isyanasarasvati.com/wp-content/uploads/2015/03/IMG_4493.jpg") no-repeat  center / cover fixed ;
	padding-left:0;
	padding-right:0;
	.head-is{
		@include span(12);
		height: 50px;
		
		margin-top: 10px;
		position: fixed;
		z-index: 99;
		.nav-is{
			@include span(4);
			float: right;
			height: 50px;
			ul{
				li{
					list-style-type: none;
					display: inline-block;
					cursor: pointer;
					margin:0 5px 0 5px;
					font-size: 16px;
					color: black;
					transition: 0.4s;
					&:hover{
						color:grey;
					}
				}
			}
		}
	}
	.tenggah-is{
		@include container(400px);
		height: 300px;
		margin-top:400px;
		text-align: center; 
		color: white;
		text-shadow: 1px 1px grey;
		font-family: 'Raleway';
		h1{
			background: rgba(204, 5, 124, 0.18);
			font-size: 70px;
			margin-bottom:0; 
		}
		h3{
			background: rgba(204, 5, 124, 0.18);
			font-size: 40px;
			margin-top:0; 
		}
		
	}
	.isi-is{
		@include span(12);
		margin-top:450px;
		min-height: 1200px;
		background: white;
		padding-right:0;
		padding-left:0;
		position:relative;
		.isi{
			@include container(1100px);
			text-align: justify;
			.kanan{
				@include span(9);
				a{
					color:grey;
				}
			}
		}
		#award{
			display: none;
		}
		#contact{
			display: none;
		}
		#linkss{
			display: none;
		}
		.kaki-isi{
			@include span(12);
			background: black;
			height: 100px;
			position:absolute;
			bottom:0;
			.kaki-fo{
				@include container(1100px);
				color: white;
				padding-top:30px;
			}
		}
		.kiri{
			
			@include span(3.5);
			right: 0;
			height: 200px;
			background: red;
			position:absolute;
		}
	}
}